@model IEnumerable<UTSMedicalSystem.FrontEnd.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UTSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.History)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.IsPatient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDoctor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsReceptionist)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.AspNetUserId == ViewBag.thisUsersID)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTSID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.History)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.IsPatient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDoctor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsReceptionist)
                    </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                        @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
