@model IEnumerable<UTSMedicalSystem.FrontEnd.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2>Your Appointments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (ViewBag.thisUsersID == null)
{
    <h3>You currently don't have any appointements</h3>
    <p>You can create an appointment by clicking "Create new appointment" above.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                @switch (ViewBag.role)
                {
                    case "Patient":
                        <th>Doctor</th>
                        break;
                    case "Doctor":
                        <th>Patient</th>
                        break;
                    case "Receptionist":
                        <th>Doctor</th>
                        <th>Patient</th>
                        break;
                    case "Admin":
                        <th>Doctor</th>
                        <th>Patient</th>
                        break;
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //Check if the appointments patient ID is the same as the current logged in patient
                @if (item.PatientID == ViewBag.thisUsersID || item.DoctorID == ViewBag.thisUsersID || ViewBag.role == "Receptionist")
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                @switch (ViewBag.role)
                {
                    case "Patient":
                        <td>@ViewBag.doctorName</td>
                        break;
                    case "Doctor":
                        <td>
                            <a asp-action="PatientDetails" asp-route-id="@item.PatientID">@(item.Patient.FirstName + " " + item.Patient.LastName)</a>
                        </td>
                        break;
                    case "Receptionist":
                        <td>@ViewBag.doctorName</td>
                        <td><a asp-action="PatientDetails" asp-route-id="@item.PatientID">@(item.Patient.FirstName + " " + item.Patient.LastName)</a></td>
                        break;
                    case "Admin":
                        <td>@ViewBag.doctorName</td>
                        <td><a asp-action="PatientDetails" asp-route-id="@item.PatientID">@(item.Patient.FirstName + " " + item.Patient.LastName)</a></td>
                        break;
                }


                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Cancel</a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>

}
